<div class="main" >
 
    <ul>
      <li><a href="" routerLink="/" matTooltip="Home" [matTooltipPosition]="'right'"><mat-icon>home</mat-icon></a></li>
      <li><a href="" routerLink="/kanban" matTooltip="Kanban" [matTooltipPosition]="'right'"><mat-icon>view_quilt</mat-icon></a></li>
      <li><a href="" routerLink="/allTask" matTooltip="All Tasks" [matTooltipPosition]="'right'"><mat-icon>group</mat-icon></a></li>
      <li><a href="" routerLink="/okr" matTooltip="Okr" [matTooltipPosition]="'right'"><mat-icon>assignment_ind</mat-icon></a></li>
    </ul>
<div>
