@import url('https://fonts.googleapis.com/css2?family=Comforter&family=Readex+Pro:wght@300&display=swap');

$text-colour: #FFFFFF;
$primary-colour: #070707;
$secondary-colour: #111214;
$icon-colour: #FFFFFF;
$hover-colour: #3F73FF;
$accent-colour: #3F73FF;
$green: green;
$scrollbar: #414244;
$scrollbar-hover: #9b838c;


$font-readex: 'Readex Pro', sans-serif;
