<div class="main">
  <div class="box">
    <div>
      <div class="logo">Cheeta</div>
      <div class="main-login">

        <h1>Can't Log in ?</h1>
        <mat-stepper [linear]="isLinear" #stepper linear>

          <mat-step>
            <ng-template matStepLabel>
              <div class="stepper-label"> Enter Email</div>
            </ng-template>

            <div class="input-block">
              <input type="email" maxlength="50" (keyup)="onEmailKeyUp()" fullWidth [(ngModel)]="email" required
                fieldSize="large" placeholder="Email">
              <div>
                <span *ngIf="!emailValid" style="color: red;">* Required (Enter Valid email id)</span>
              </div>
            </div>


            <div>
              <button [disabled]="!validEmail" mat-button matStepperNext (click)="onSendOtp()">Next</button>
            </div>
          </mat-step>
          <mat-step >
            <ng-template matStepLabel>
              <div class="stepper-label"> Enter Otp</div>
            </ng-template>
            <div class="input-block">
              <input type="text" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                maxlength="4" (keyup)="onOtpKeyUp()" fullWidth [(ngModel)]="otp" required fieldSize="large"
                placeholder="Otp">
                <div>
              <span *ngIf="!otpValid" style="color: red;">* Required (4 digit number)</span>
            </div>
            </div>
            <!-- <div class="input-block">
              <input [(ngModel)]="newPassword" fullWidth [type]="getInputType()" maxlength="21" minlength="5"
                (keyup)="onNewPassKeyUp()" placeholder="New Password">
             <div> <span *ngIf="!newPassValid" style="color: red;">* Required (6-20 chars.)</span>
             </div>
            </div>
            <div class="input-block">
              <input [(ngModel)]="conPassword" placeholder="Confirm Password" maxlength="21" minlength="5"
                (keyup)="onConfirmPassKeyUp()" fullWidth [type]="getInputType()">

              <div> <span *ngIf="!newPassValid" style="color: red;">* Required (6-20 chars.)</span> </div>
             <div> <span *ngIf="!notMatch" style="color: red;"> Password not matched</span>
             </div>
            </div>
            <div class="input-block">
              <button id="nextBtn" #nextBtn fullWidth hero status="info" (click)="onChangePassword()">Change
                Password</button>
            </div> -->
            <div>
              <button [disabled]="!otpValid" mat-button matStepperNext>Next</button>
            </div>
          </mat-step>
          <mat-step >
            <ng-template matStepLabel>
              <div class="stepper-label"> Change Password</div>
            </ng-template>


            <div class="input-block">
              <input [(ngModel)]="newPassword" fullWidth [type]="getInputType()" maxlength="21" minlength="5"
                (keyup)="onNewPassKeyUp()" placeholder="New Password">
             <div> <span *ngIf="!newPassValid" style="color: red;">* Required (6-20 chars.)</span>
             </div>
            </div>
            <div class="input-block">
              <input [(ngModel)]="conPassword" placeholder="Confirm Password" maxlength="21" minlength="5"
                (keyup)="onConfirmPassKeyUp()" fullWidth [type]="getInputType()">

              <div> <span *ngIf="!newPassValid" style="color: red;">* Required (6-20 chars.)</span> </div>
             <div> <span *ngIf="!notMatch" style="color: red;"> Password not matched</span>
             </div>
            </div>
            <div class="input-block">
              <button id="nextBtn" #nextBtn fullWidth hero status="info" (click)="onChangePassword()">Change
                Password</button>
            </div>
          </mat-step>

        </mat-stepper>
        <p style="text-align: center; position: relative ; top: 10%;">Don't want to change password? <a
            href="/auth/login">Login </a>
        </p>
      </div>

    </div>
  </div>
  <div class="image-wrapper">
    <img src="../../../../assets/image/otp.png" alt="image">
  </div>
</div>

